{% extends "layout.njk" %}

{% from "macros.njk" import header %}

{% block main %}
    <article class="content">
        {{ content | safe }}

        <h2>Recent blog posts</h2>

        <ul class="posts">
            {% for post in collections.blog | reverse | take(10) %}
                <li>
                    <span>
                        <time datetime="{{ post.date | date("yyyy-MM-dd") }}">
                            {{ post.date | date("LLL d") }}
                        </time>
                    </span>
                    <a href="{{ post.url | url }}">{{ post.data.title | escape }}</a>
                </li>
            {% endfor %}
        </ul>

        <p>More posts are in <a href="/blog">the archive</a>.</p>
    </article>
{% endblock %}
