{% extends "layout.njk" %}

{% from "macros.njk" import header %}

{% block main %}
    <article class="content">
        {{ header(title) }}

        {{ content | safe }}
    </article>

    <article>
        <h2>Recent blog posts</h2>
        <ul class="posts">
            {% for post in collections.blog | reverse | take(10) %}
                <li>
                    <span>
                        <time datetime="{{ post.date | date("yyyy-MM-dd") }}">
                            {{ post.date | date("LLL d") }}
                        </time>
                    </span>
                    <a href="{{ post.url | url }}">{{ post.data.title | escape }}</a>
                </li>
            {% endfor %}
        </ul>
    </article>

    <article>
        <h2>Contact me</h2>
        <ul>
            <li><a href="mailto:mailbox@dolzhenko.me">E-mail</a></li>
            <li><a href="https://fosstodon.org/@dsdolzhenko">Mastodon</a></li>
            <li><a href="https://www.linkedin.com/in/%F0%9F%91%BE-dmitry-dolzhenko-213087203/">LinkedIn</a></li>
        </ul>
    </article>
{% endblock %}
