<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% if page.url == "/" %}
                {{ site.title | escape }}
            {% else %}
                {{ title | escape }} - {{ site.title | escape }}
            {% endif %}
        </title>
        <meta name="description" content="{{ page.excerpt | default(description) | default(site.description) | truncate(160) | escape | striptags }}">

        <meta name="og:title" content="{% if title %}{{ title | escape }}{% else %}{{ site.title | escape }}{% endif %}{% if title and page.layout != "home" %} - {{ site.title | escape }}{% endif %}">
        <meta name="og:description" content="{{ page.excerpt | default(description) | default(site.description) | truncate(160) | escape | striptags }}">
        <meta name="og:type" content="website" />
        <meta name="og:url" content="{{ site.url }}{{ page.url | replace("index.html", "") | url }}">
        {% if image or media.image %}
            <meta name="og:image" content="{% og_image_uri page, image | default(media.image) %}">
        {% endif %}
        <meta name="fediverse:creator" content="@dsdolzhenko@fosstodon.org"/>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

        <link rel="canonical" href="{{ site.url }}{{ page.url | replace("index.html", "") | url }}">
        <link rel="stylesheet" href="{{ "/assets/css/main.css?v=9" | url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ site.feed.xml.path }}" />
        <link rel="alternate" type="application/feed+json" title="{{ site.title | escape }}" href="{{ site.feed.json.path }}" />

        <link rel="me" href="https://fosstodon.org/@dsdolzhenko"/>
        <link ref="me" href="mailto:mailbox@dolzhenko.me"/>
    </head>
    <body class="{{ color }}">
        <header>
            <a href="/" class="home-link">{{ site.title }}</a>
            <a href="{{ site.feed.xml.path }}" class="rss-link" title="RSS Feed">RSS Feed</a>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer class="footer">
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
