{% macro header(title, date) %}
    <h1>{{ title | escape }}</h1>
    {% if date %}
        <ul class="post-meta">
            <li>{{ time(date) }}</li>
        </ul>
    {% endif %}
{% endmacro %}

{% macro time(value, format="LLL d, yyyy") %}
    <time datetime="{{ value | date("yyyy-MM-dd") }}">
        {{ value | date(format) }}
    </time>
{% endmacro %}
