---
layout: layout.liquid
---
<article class="content">
  {% if index %}
    {% assign current = collections.now | last %}
  {% else %}
    {% assign current = collections.now | where: "date", page.date | last %}
  {% endif %}

  {% render "header", title: current.data.title, date: current.date, site: site, meta: true %}

  {{ current.templateContent }}
</article>

<article>
  <h1>
    {%- if index -%}
    Previous updates
    {%- else -%}
    Other updates
    {%- endif -%}
  </h1>

  <ul class="posts">
    {% for post in collections.now reversed %}
    {% if post.date != current.date %}
    <li>
      <a href="{{ post.url | url }}">
        <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
          {{ post.date | date: "%d %b, %Y" }}
        </time>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</article>
