<figure class="picture">
  <a href="{{ picture.path }}">
    {% picture picture.path, picture.alt %}
  </a>
  {% if picture.caption %}
  <figcaption>{{ picture.caption }}</figcaption>
  {% endif %}
</figure>
