{% extends "page.njk" %}

{% from "macros.njk" import header, svg %}

{% block footer %}
    <div class="links">
        <a href="mailto:{{ site.author.email }}?subject={{ title | escape }}">
            {{ svg("mail") }}
            Reply by email
        </a>

        <a href="/feed.xml">
            {{ svg("rss") }}
            Subscribe via RSS
        </a>

        <a href="/blog">
            {{ svg("back") }}
            Return to all blog posts
        </a>
    </div>
{% endblock %}
