{% extends "page.njk" %}

{% block main %}
    {{ super() }}

    <div class="reply">
        <a href="mailto:{{ site.author.email }}?subject=Re: {{ title }}" class="button">Reply by email</a>
    </div>
{% endblock %}
