---
layout: layout.liquid
---
<article class="content">
  {% render "header", title: title, date: page.date, site: site %}

  {{ content }}
</article>

<p>
  <a href="mailto:{{ site.author.email }}?subject={{ title | escape }}">Reply to this post by email</a>
</p>
