# Ignore all HTML files:
**/*.html

# Ignore git files
**/.git

# Ignore deps
**/node_modules

# Ignore dist
**/dist

# Ignore *.md
**/*.md

# Ignore package files
**/package.json
**/package-lock.json

# Ignore minified files
*.min.js
*.min.css
