---
permalink: '{{ site.feed.json.path }}'
---

{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ site.title }}",
  "home_page_url": "{{ site.url }}",
  "feed_url": "{{ site.url }}{{ site.feed.json.path }}",
  "authors": [{
    "name": "{{ site.author.name }}",
    "url": "{{ site.url }}"
  }],
  "items": [
    {% for post in collections.blog -%}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
    {
      "id": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "url": "{{ absolutePostUrl }}",
      "date_published": "{{ post.date | dateToRfc3339 }}",
      {% if post.data.image -%}
      "image": "{% og_image_uri post, post.data.image %}",
      {% endif -%}
      "tags": [
        {%- set comma = joiner() -%}
        {%- for tag in post.data.tags -%}
          {{ comma() -}} "{{ tag -}}"
        {%- endfor -%}
      ]
    }{% if not loop.last %},{% endif %}
  {% endfor %}
  ]
}
