---
layout: layout.liquid
---

<article class="content">
  {% render "header", title: title, site: site %}

  <ul class="posts">
    {% for post in collections.blog reversed %}
    <li>
      <span>
        <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
          {{ post.date | date: "%b %d, %Y" }}
        </time>
      </span>
      <a href="{{ post.url | url }}">{{ post.data.title | escape }}</a>
    </li>
    {% endfor %}
  </ul>
</article>
