---
layout: layout.liquid
---

<div class="home">

  <header class="article-header">
    <h1 class="article-title" itemprop="name headline">{{ site.title | escape }}</h1>
  </header>

  {{ content }}

</div>
