<ul class="pictures">
  {% for picture in pictures %}
  <li class="{% if picture.vertical %}vertical{% else %}horizontal{% endif %} {{ picture.position | default: "center" }}">
    <a href="{{ picture.path }}">
      {% picture picture.path, picture.alt %}
    </a>
  </li>
  {% endfor %}
</ul>
