---
layout: layout.liquid
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  {% render "header", title: title, date: page.date, site: site %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
