:root {
    --font-family: Verdana, Geneva, sans-serif;
    --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;

    --background-color: #fff;

    --text-color: #586e75;
    --text-color-secondary: #839496;
    --text-color-link: cornflowerblue;

    --header-margin: 1em;
    --content-margin: 0.5em;
}

* {
    box-sizing: border-box;
}

@view-transition {
    navigation: auto;
}

html,
body {
    padding: 0;
    margin: 0 auto;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
}
html {
    overflow-y: scroll;
}
body {
    max-width: 40em;
}

body.pistache {
    --text-color-link: #95c58e;
}

body.green {
    --text-color-link: #47894b;
}

body.hay {
    --text-color-link: #c25d0f;
}

p:last-child {
    margin-bottom: 0;
}
p {
    line-height: 1.5;
}

li {
    line-height: 1.5;
}

a,
a:active,
a:visited {
    color: var(--text-color-link);
}

main,
footer {
    padding: 1rem;
}
main :first-child {
    margin-top: 0;
}

img {
    border-radius: 5px;
}

.button,
button {
    color: var(--background-color) !important;
    background-color: var(--text-color-link);
    border: none;
    border-radius: 5px;

    cursor: pointer;

    padding: 1ch;
}

a.button {
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    gap: 1em .5em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px dashed var(--text-color-secondary);
}
.home-link {
    font-size: 1em; /* 16px /16 */
    font-weight: 700;
}
.home-link:link:not(:hover) {
    text-decoration: none;
}

.rss-link {
    background-image: url(/assets/img/feed-icon.png);
    background-size: cover;
    border-radius: none;
    display: block;
    width: 1em;
    height: 1em;
    text-indent: -9999px;
}

.page-title {
    margin: 0;
}

/* Post metadata */

.post-meta {
    display: inline-flex;
    flex-wrap: wrap;
    gap: .5em;
    list-style: none;
    padding: 0;
    margin: 0 0 1em 0;
}

.post-meta time {
    margin-right: 1em;
    color: var(--text-color-secondary);
}


/* Content */

.avatar {
    float: right;
    width: 10em;
    margin: 0 0 1em 1em;
}

figure > img {
    display: block;
}

figcaption {
    font-size: 0.9em;
    text-align: center;
    margin: 0.5em;
    color: var(--text-color-secondary);
}

li > ul,
li > ol {
    margin-bottom: 0;
}

blockquote {
    color: var(--secondary-text-color);
    border-left: 4px solid var(--text-color);
    padding-left: var(--content-margin);
    font-style: italic;
}
blockquote > :last-child {
    margin-bottom: 0;
}

hr {
    border: none;
    border-bottom: 1px dashed var(--text-color-secondary);
    width: 50%;
    margin: 1em auto;
}

pre,
code {
    border: 1px solid var(--text-color);
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
}
pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

figure {
    margin: 1em;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: middle;
}

.tags {
    color: var(--text-color-secondary);
    font-weight: normal;
    font-style: italic;
    font-size: 0.9em;
}

.pictures {
    display: grid;
    grid-template-rows: 20vh 20vh;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;

    margin: 1.5em 0 1.5em 0;
}

.pictures li {
    justify-self: stretch;
}

.pictures img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: bottom;
}

.pictures .vertical {
    grid-row: auto / span 2;
}

.pictures .left-top img {
    object-position: left top;
}

.reply {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

/* Posts list */

ul.posts {
    list-style-type: none;
    padding: unset;
    margin-left: 0;
}

ul.posts li {
    display: grid;
    grid-template-columns: 7ch 1fr;
    gap: 1ch;
}

ul.posts.now li {
    grid-template-columns: 10ch 1fr;
}

ul.posts li:not(:first-of-type) {
    margin-top: 0.5em;
}

ul.posts li span {
    flex: 0 0 130px;
}

ul.posts li time {
    color: var(--text-color-secondary);
}

/* Blog roll */

.blogroll-item {
    margin-top: 1.5em;
}

.blogroll-item-title {
    margin-bottom: 0;
}

.blogroll-discover {
    text-align: center;
}

/* Media Card */

.media-card {
    padding: 1em;
    margin: 0 -1em;
    color: var(--background-color) !important;
    background-color: var(--text-color-link);
    border-radius: 5px;
    overflow: auto;
}

.media-card a {
   color: var(--background-color) !important;
}

.media-card-image {
    width: 15em;
    margin: 0 1em 1em 0;
    float: left;
}

.media-card-image .picture {
    margin: 0;
}

@media (width <= 40em) {
    .media-card {
        border-radius: 0;
    }

    .media-card-cover {
        width: 100%;
        margin-right: 0;
    }
}

.media-card-meta {
    margin: 0 0 1em 0;
    padding: 0;
    list-style: none;
}

.media-card-meta-i {
    font-weight: bold;
}
