body {
    --primary-text-color: #586e75;
    --secondary-text-color: #839496;
    --link-text-color: cornflowerblue;

    --main-bg-color: cornflowerblue;
    --content-bg-color: #fff;

    --header-margin: 1em;
    --content-margin: 0.5em;
}

body.pistache {
    /* https://www.color-hex.com/color-palette/53770 */
    --main-bg-color: #cceec7;
    --link-text-color: #95c58e;
}

body.green {
    /* https://www.color-hex.com/color-palette/20674 */
    --main-bg-color: #aad688;
    --link-text-color: #47894b;
}

body.hay {
    /* https://www.color-hex.com/color-palette/100642 */
    --main-bg-color: #f6d36a;
    --link-text-color: #c25d0f;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

body {
    font: 400 16px/1.6 Verdana, Geneva, sans-serif;
    color: var(--primary-text-color);
    background-color: var(--main-bg-color);
    font-kerning: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: var(--header-margin);
}

p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
    margin-top: var(--content-margin);
}

a,
a:active,
a:visited {
    color: var(--link-text-color);
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: middle;
    border-radius: 10px;
}

figure > img {
    display: block;
}

figcaption {
    font-size: 0.9em;
    text-align: center;
}

ul,
ol {
    margin-left: 30px;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-size: 1rem;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.1rem;
}

blockquote {
    color: var(--secondary-text-color);
    border-left: 4px solid var(--primary-text-color);
    padding-left: var(--content-margin);
    font-style: italic;
}
blockquote > :last-child {
    margin-bottom: 0;
}

pre,
code {
    border: 1px solid var(--primary-text-color);
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
}
pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

time {
    font-family: monospace;
}

body {
    max-width: 870px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

.wrapper {
    background-color: var(--content-bg-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 900px) {
    body {
        max-width: 900px;
        background-color: var(--content-bg-color);
    }

    .wrapper {
        border-radius: 0;
        box-shadow: none;
        padding: 0;
    }
}


.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

    border-bottom: 1px solid var(--primary-text-color);
    padding-bottom: var(--header-margin);
}

.header .title h1 {
    font-size: 1.7rem;
}

.header .title {
    display: flex;
    align-items: center;
}

.header .title img {
    width: 42px;
    height: 42px;
    margin-right: 15px;
}

.header nav {
    display: flex;
    gap: 15px;
}

.header nav a.active {
    border-bottom: 1px solid;
    margin-bottom: -1px;
}

.header .links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}

.header .links a {
    color: var(--primary-text-color)
}

.tags {
    color: var(--secondary-text-color);
    font-weight: normal;
    font-style: italic;
    font-size: 0.9em;
}

.content header {
    margin: var(--header-margin) 0;
}

.content header h1 {
    font-size: 1.5rem;
    margin: 0;
}

.content header time {
    color: var(--secondary-text-color);
}

.pictures {
    display: grid;
    grid-template-rows: 20vh 20vh;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;

    margin: 10px 0 10px 0;
}

.pictures li {
    justify-self: stretch;
}

.pictures img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: bottom;
}

.pictures .vertical {
    grid-row: auto / span 2;
}

.pictures .left-top img {
    object-position: left top;
}


ul.posts {
    list-style-type: none;
    padding: unset;
    margin-left: 0;
}

ul.posts li {
    display: flex;
}

ul.posts li span {
    flex: 0 0 130px;
}

ul.posts li time {
    color: var(--secondary-text-color);
}

.blogroll {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.blogroll article {
    box-sizing: border-box;
    width: 365px;
    flex-grow: 1;
    padding: 10px;

    border-bottom: 1px solid var(--secondary-text-color);
}

.blogroll article h1 {
    margin: 0 0 10px 0;
}

.blogroll-discover {
    text-align: center;
}

.site-footer {
    margin: 1em 0;
}

.footer-copy {
    font-size: 15px;
    color: var(--secondary-text-color);
    font-style: italic;
}

.icon {
    vertical-align: sub;
    padding-right: .25rem;
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
