* {
    --tc: #586e75;
    --sc: #268bd2;
    --bgc: #fdf6e3;
    --bqc: #839496;
    --brc: #586e75;
}

@media (prefers-color-scheme: dark) {
    * {
        --tc: #93a1a1;
        --bgc: #002b36;
    }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

body {
    font: 400 16px/1.6 Verdana, Geneva, sans-serif;
    color: var(--tc);
    background-color: var(--bgc);
    font-kerning: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
    margin-top: 15px;
    margin-bottom: 15px;
}

a,
a:active,
a:visited {
    color: var(--sc);
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

figure > img {
    display: block;
}

figcaption {
    font-size: 14px;
}

ul,
ol {
    margin-left: 30px;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-size: 1rem;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.1rem;
}

blockquote {
    color: var(--bqc);
    border-left: 4px solid var(--brc);
    padding-left: 15px;
    font-style: italic;
}
blockquote > :last-child {
    margin-bottom: 0;
}

pre,
code {
    font-size: 15px;
    border: 1px solid var(--brc);
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
}
pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

time {
    font-style: italic;
}

body {
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

@media screen and (max-width: 800px) {
    body {
        max-width: calc(800px - (30px));
        padding: 15px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header .title h1 {
    font-size: 1.7rem;
}

.header .title {
    display: flex;
    align-items: center;
}

.header .title img {
    width: 42px;
    height: 42px;
    margin-right: 15px;
    border-radius: 10px;
}

.header nav {
    display: flex;
    gap: 15px;
}

.content header h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.content header {
    padding-bottom: 15px;
}

.content header time {
    color: var(--bqc);
}

ul.posts {
    list-style-type: none;
    padding: unset;
    margin-left: 0;
}

ul.posts li {
    display: flex;
}

ul.posts li span {
    flex: 0 0 130px;
}

ul.posts li time {
    color: var(--bqc);
}

.site-footer {
    margin: 30px 0;
}

.footer-copy {
    font-size: 15px;
    color: var(--bqc);
    font-style: italic;
}
