---
title: My Favorite Personal Websites and Blogs
---

{% extends "page.njk" %}

{% block content %}
    <p>
        Here is the list of people with cool blogs that I enjoy reading.
        Although, all of them have RSS feeds, I highly recommend visiting their websites.
        They are all unique and awesome in their own way.
    </p>

    <p class="blogroll-discover">
        Can"t pick? <a href="#">Open a random one!</a>
    </p>

    <div class="blogroll">
        {% set sortedBlogs = blogroll.blogs | sort(false, true, "title") %}
        {% for blog in sortedBlogs %}
            <article>
                <header>
                    <h1>{{ blog.title }}</h1>
                    <div><a href="{{ blog.url }}" target="_blank" class="blogroll--link">Website</a> • <a href="{{ blog.feed }}">RSS</a></div>
                </header>
                <p>{{ blog.description | safe }}</p>
            </article>
        {% endfor %}
    </div>

    <p>
        Check out <a href="https://blogroll.org">blogroll.org</a> for more blogs to explore.
    </p>

    <script type="text/javascript">
        function getRandomNumber(min, max) {
            return Math.floor(Math.random() * (max - min) + min);
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            document.querySelector(".blogroll-discover > a").addEventListener("click", function() {
                const links = document.querySelectorAll(".blogroll--link");
                const randomLink = links[getRandomNumber(0, links.length)];
                window.open(randomLink.href);
            });
        });
    </script>
{% endblock %}
